.add_dish{
   padding: 10px;

   text-align: center;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   padding: 10px;
   cursor: pointer;
   margin:5px;

}
.add_dish_form{
    display: flex;
    justify-content: center;        
    align-items: center;
 
}